# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment & Virtualenvs
.env
.venv
env/
venv/
ENV/

# Temporary & Log files
*.log
.pytest_cache/
.coverage
htmlcov/
.DS_Store
